* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.contain {
    display: flex;
    justify-content: space-evenly;
}
.black {
    color: black;
    font-weight: bolder;
    font-size: x-large;
    padding-left: 10px;
}
.blue {
    color: rgb(61, 61, 240);
    margin-left: 1rem;
}

.check {
    background-color: black;
    color: white;
}

p  {
margin: 2em 20em;
font-size: large;
}
h3 {
    margin: 2em 15em;
    font-size: x-large;
    color: crimson;
}
.dark {
    background-color : #1b262c;
    color : white;

}
.dark .black {
    color : #ff6363;
}
.dark .blue{
    color : yellow;
}
.dark .h3 {
    color : yellow;
}

button {
    padding: 15px 10px;
    background-color:  white;
    color : #1b262c;
    border: none;
    border-radius: 20%;
}

.dark button {
    padding: 15px 10px;
    background-color: #1b262c;
    color : white;
    /* border-color: 3px solid #1b262c; */
    border: none;
    border-radius: 20%;

}